html{
    background-color: antiquewhite;
}
header{
    text-align: center;
}
#h1-1{
    color: rgb(255, 0, 0);
}
.h2{
    color: brown;
}
.article{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
#p-4{
    text-align: center;
    color: gray;
}